{% extends "rankings/master.html" %}

{% block title %}
   Inserir Ranking
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col">

            <h1>Inserir Ranking</h1>

            <p class="lead">
                Para inserir valores de pilares e métricas coletadas a partir de um ranking, preencha o formulário
                abaixo. Caso não encontre o ranking desejado, será necessário adicioná-lo manualmente na tela de
                <a href="/admin">administrador.</a></p>

            <form id="form-submit-spreadsheet" action="/ranking/insert/" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {% load crispy_forms_tags %}
                {{ form | crispy }}
                <button
                    id="button-submit" type="submit" class="btn btn-dark"
                    data-bs-toggle="modal" data-bs-target="#modal-loading"
                >
                    Enviar
                </button>
            </form>
            {% autoescape off %}
            {{ error_message }}
            {% endautoescape %}

            <div
                class="modal fade"
                id="modal-loading" tabindex="-1"
                data-bs-backdrop="static"
                data-bs-keyboard="false"
                aria-hidden="true"
            >
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content text-center">
                        <div class="modal-body d-flex align-items-center justify-content-center py-4">
                            <div class="spinner-border text-primary me-3" role="status" aria-hidden="true"></div>
                            <span class="fs-5">Carregando dados...</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}