{% extends "rankings/master.html" %}

{% block title %}
   Verificar universidades duplicadas
{% endblock %}

{% block additional-stylesheet %}
    {% load static %}
{#    <link rel="stylesheet" href="{% static 'rankings/universities/duplicate/style.css' %}">#}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col">
            <h1>Verificar universidades duplicadas</h1>

            <p class="lead">
                Esse formulário permite unir universidades que estão duplicadas no banco de dados. Primeiro, selecione
                um país. Depois, digite o nome de uma universidade. As universidades que possuem nomes similares à
                universidade selecionada serão mostradas. Para uni-las, marque o checkbox do lado de cada nome.
            </p>
            <p class="lead">
                Também é possível determinar o nome a ser escolhido em Português e Inglês.
            </p>

            <form id="form-rows-universities" onsubmit="return validate(event)">
                {% csrf_token %}
                <select class="form-select" aria-label="country select" id="select-country" name="select-country">
                    <option selected>Selecione um país</option>
                    {% for country in countries_list %}
                        <option value="{{ country.id_pais }}">
                            {{ country.nome_portugues }}
                        </option>
                    {% endfor %}

                </select>
                <table id="table-duplicate-universities" class="standard-table">
                    <thead>
                        <tr>
                            <th>
                                <!-- dropdown -->
                            </th>
                            <th>
                                Nome universidade
                            </th>
                            <th>
                                País
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for entry in universities_list %}
                            <tr class="{% if entry.assigned|divisibleby:2 %}even-color{% else %}odd-color{% endif %}">
                                <td>
                                    <input type="hidden"
                                           name="university-id-{{ entry.index }}"
                                           value="{{ entry.id_universidade }}"
                                    >
                                    <input type="hidden"
                                           name="university-nickname-id-{{ entry.index }}"
                                           value="{{ entry.id_apelido_universidade }}"
                                    >
                                    <select
                                            name="select-assigned-{{ entry.index }}"
                                            id="select-assigned-{{ entry.index }}"
                                            class="form-select form-select-sm"
                                    >
                                        {% for option in options %}
                                            {% if option.value == entry.assigned %}
                                                <option value="{{ option.value }}" selected>
                                                    {{ option.text }}
                                                </option>
                                            {% else %}
                                                <option value="{{ option.value }}">
                                                    {{ option.text }}
                                                </option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </td>
                                <td>{{ entry.Universidade }}</td>
                                <td>{{ entry.País }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <button id="button-send" type="submit" class="btn btn-dark">Enviar</button>
            </form>
        </div>
    </div>
{% endblock %}